body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 400px;
    background-color: pink;
}

.cube3d {
    width: 300px;
    height: 300px;
    perspective: 600px;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    animation: rotateCube 7s infinite linear;
}

.cube:hover { 
    animation: rotateCube 2s infinite linear;
}

.cube div {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(84, 206, 255, 0.7);
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 227, 232);
}

.front { 
    transform: rotateY(0deg) translateZ(100px); 
}

.back { 
    transform: rotateY(180deg) translateZ(100px); 
}

.right { 
    transform: rotateY( 90deg) translateZ(100px); 
}

.left { 
    transform: rotateY(-90deg) translateZ(100px); 
}
  
.top { 
    transform: rotateX( 90deg) translateZ(100px); 
}
  
.bottom { 
    transform: rotateX(-90deg) translateZ(100px); 
}

@keyframes rotateCube {
    from {
      transform: rotateX(0deg) rotateY(0deg);
    }
    to {
      transform: rotateX(360deg) rotateY(360deg);
    }
}